* {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin: 26px 26px;
  color: #333333; }
  * h1 {
    font-size: 43pt;
    line-height: 100%;
    padding: 10px 0px; }
  * h2 {
    font-size: 32pt;
    line-height: 100%;
    padding: 10px 0px; }
  * h3 {
    font-size: 25pt;
    line-height: 100%;
    padding: 10px 0px;
    font-weight: 700; }
  * p {
    font-size: 18pt;
    line-height: 100%;
    padding: 5px 0px; }

.article-container {
  max-width: 800px;
  margin: 0 auto; }
  .article-container .heroImage {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover; }
  .article-container .article-flex {
    display: flex;
    justify-content: space-between; }
  .article-container .articleThumb {
    width: 50px;
    height: 50px; }
  .article-container .v-wrap {
    float: right;
    margin: 10px 0 10px 10px; }
  .article-container .top-paragraph {
    padding: 40px 0 0 0; }
  .article-container .paragraph {
    max-width: 650px; }

